__pycache__/
*.pyc
.env
.vscode/
.idea/
*.log
output/
Log/
src/agenticlab_human/output/
third_party/

train_yolo/datasets
train_yolo/raw
train_yolo/runs


*.pt
*.ts
datasets/

data/checkpoints/

data/TDM020-890_URDF.zip
